html {
  font-family: "Futura", "Century Gothic", "sans-serif";
}

body {
  margin: 0px;
}

div.slide1 {
  height: 100vh;
  background-color: #fdfdfd;
}
div.slide1 div.bodydiv1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.slide1 div.bodydiv1 img {
  width: 33vw;
  margin-top: -10vh;
  align-self: center;
}
div.slide1 div.bodydiv1 div.navdiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 5;
}
div.slide1 div.bodydiv1 div.navdiv2 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}
div.slide1 div.bodydiv1 div.navdiv2 ul li {
  margin: 2vw;
  font-size: calc(1rem + 2.5vw);
  padding-left: 10px;
  padding-right: 10px;
}
div.slide1 div.bodydiv1 div.navdiv2 ul li a {
  color: #19767d;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.1s ease-in-out;
  background: linear-gradient(to bottom, #cf5476, #ecac6a, #dc6165, #926893, #eb714e);
  background-size: 200% 200%;
  animation: rainbow 1.8s ease-in infinite;
  background-clip: text;
}
div.slide1 div.bodydiv1 div.navdiv2 ul li:hover {
  background-color: #19767d;
  border-radius: 15px;
  transition: 0.2 ease-in-out;
}
div.slide1 div.bodydiv1 div.navdiv2 ul li:hover a {
  color: rgba(0, 0, 0, 0.0001);
}
div.slide1 div.arrowcontainer {
  position: relative;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  margin-bottom: 6px;
}
div.slide1 div.arrowcontainer a {
  color: black;
  text-decoration: none;
}

div.navdivmain2 {
  z-index: 10;
  background-color: #19767d;
  height: 8vh;
  width: 100%;
}
div.navdivmain2 ul {
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-top: 0;
}
div.navdivmain2 ul li {
  margin-top: 0;
  font-size: calc(.2rem + 2vw);
}
div.navdivmain2 ul li a {
  text-decoration: none;
  color: #F4C66B;
}
div.navdivmain2 ul li:hover a {
  color: rgba(0, 0, 0, 0.0001);
}

div.slide2 {
  background-color: #145e64;
  height: 92vh;
}

.slide2Grid {
  height: 92.1vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.618fr 1fr;
  grid-template-areas: "natasha john" "lineup lineup";
  grid-gap: 1px 1px;
  color: white;
}

.natasha {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("Natasha.png");
  background-size: cover;
  grid-area: natasha;
  padding: 1vw;
  overflow: hidden;
}
.natasha div {
  width: 18em;
  font-size: 2.4vh;
}
.natasha div p {
  visibility: hidden;
  text-align: right;
}
.natasha:hover, .natasha:focus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Natasha.png");
}
.natasha:hover p, .natasha:focus p {
  visibility: visible;
  text-align: right;
  animation: 0.3s slideIn 0s forwards;
  transform: translateX(100%);
}

.john {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("John.png");
  background-size: cover;
  grid-area: john;
  overflow: hidden;
  padding: 1vw;
}
.john div {
  width: 18em;
  font-size: 2.4vh;
}
.john div p {
  visibility: hidden;
  text-align: left;
}
.john:hover, .john:focus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("John.png");
}
.john:hover p, .john:focus p {
  visibility: visible;
  animation: 0.3s slideIn 0s forwards;
  transform: translateX(-100%);
}

.lineup {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #1E1E1E;
  grid-area: lineup;
  color: #F4C66B;
}
.lineup span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25vw;
  transition-timing-function: ease-out;
  transition: 0.1s;
  transform: scale(1);
}
.lineup span:hover {
  transition-timing-function: ease-out;
  transition: 0.2s;
  transform: scale(1.1);
}
.lineup img {
  width: 10vw;
  height: 10vw;
  margin-bottom: 0.8vh;
}

.lineupCardWrap {
  z-index: 2;
  visibility: hidden;
  position: absolute;
  left: 39%;
  top: 115%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 600px;
  padding: 30px;
  background: blue;
  background: #1E1E1E;
  box-shadow: 0px 0px 18px rgba(22, 22, 22, 0.85);
  border-radius: 100px;
  color: white;
  transform: scale(0) translateY(80%);
  transition: 0.01s ease-out;
}
.lineupCardWrap .lineup-card {
  display: grid;
  grid-template-rows: 9vw 2fr;
  grid-template-columns: 9vw 1fr;
  grid-template-areas: "img head" "p p";
  height: inherit;
}
.lineupCardWrap .lineup-card span.head {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  grid-area: head;
  align-items: center;
  font-weight: bold;
}
.lineupCardWrap .lineup-card span.head p {
  margin: -5px 0;
  margin-left: 0.5vw;
}
.lineupCardWrap .lineup-card span.head p.cardTitle {
  font-size: 2.7rem;
  margin-bottom: 0em;
}
.lineupCardWrap .lineup-card span.head p.cardSubtitle {
  margin-top: -3em;
  font-size: 1.4rem;
}
.lineupCardWrap .lineup-card span.body {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
  padding-top: 5px;
  grid-area: p;
  font-size: 1.5rem;
}
.lineupCardWrap .lineup-card img {
  user-select: none;
  grid-area: img;
  width: 100%;
  height: 100%;
}
.lineupCardWrap.visible {
  visibility: visible;
  transform: scale(1) translateY(20%);
  transition: 0.04s ease-out;
  bottom: 100%;
}

.backgroundDarkener {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  left: 0%;
  top: 107.9%;
  transform: translate(-50%, -50%);
  height: 92vh;
  width: 99.33vw;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: 0.045s ease-out;
}
.backgroundDarkener.darker {
  position: absolute;
  visibility: visible;
  transform: scale(1);
  transition: 0.045s ease-out;
  bottom: 100%;
}

.rainbow {
  transition: 0.1s ease-in-out;
  background: linear-gradient(to bottom, #cf5476, #ecac6a, #dc6165, #926893, #eb714e);
  background-size: 200% 200%;
  animation: rainbow 1.8s ease-in infinite;
  background-clip: text;
}

a.rainbow:hover {
  color: rgba(0, 0, 0, 0.0001);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

#downarrow {
  border: solid black 2px;
  border-radius: 50%;
}

@keyframes rainbow {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
@media (max-width: 1327px) {
  img#headimg {
    width: calc(35vw * 2 + 40px);
  }

  ul#navbar {
    flex-direction: column;
  }
  ul#navbar li {
    font-size: calc(1rem + 3vw);
  }
}
@media (max-width: 800px) {
  ul#navbar li {
    font-size: calc(1.7rem + 4vw);
  }

  .lineup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "jeremy jeremy" "samuel charles" "patricia dae" "peter min";
    background-color: #1E1E1E;
    align-items: center;
    color: #F4C66B;
    overflow: scroll;
  }
  .lineup span.jeremy {
    grid-area: jeremy;
  }
  .lineup span.samuel {
    grid-area: samuel;
  }
  .lineup span.charles {
    grid-area: charles;
  }
  .lineup span.patricia {
    grid-area: patricia;
  }
  .lineup span.dae {
    grid-area: dae;
  }
  .lineup span.peter {
    grid-area: peter;
  }
  .lineup span.min {
    grid-area: min;
  }
  .lineup span {
    font-size: 1.8vw;
  }
  .lineup img {
    margin-top: 2vh;
    width: 20vw;
    height: 20vw;
    margin-bottom: 0.8vh;
  }
}

/*# sourceMappingURL=style.css.map */
