html {
  font-family: "Futura", "Century Gothic", "sans-serif";
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0px;
}

div.slide1 {
  height: 100vh;
  background-color: #fdfdfd;
}
div.slide1 div.bodydiv1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.slide1 div.bodydiv1 img {
  width: 33vw;
  margin-top: -10vh;
  align-self: center;
}
div.slide1 div.bodydiv1 div.navdiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 5;
}
div.slide1 div.bodydiv1 div.navdiv2 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}
div.slide1 div.bodydiv1 div.navdiv2 ul li {
  margin: 2vw;
  font-size: calc(1rem + 2.5vw);
  padding-left: 10px;
  padding-right: 10px;
}
div.slide1 div.bodydiv1 div.navdiv2 ul li a {
  color: #19767d;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.1s ease-in-out;
  background: linear-gradient(to bottom, #cf5476, #ecac6a, #dc6165, #926893, #eb714e);
  background-size: 200% 200%;
  animation: rainbow 1.8s ease-in infinite;
  background-clip: text;
}
div.slide1 div.bodydiv1 div.navdiv2 ul li:hover {
  background-color: #19767d;
  border-radius: 15px;
  transition: 0.2 ease-in-out;
}
div.slide1 div.bodydiv1 div.navdiv2 ul li:hover a {
  color: rgba(0, 0, 0, 0.0001);
}
div.slide1 div.arrowcontainer {
  position: relative;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  margin-bottom: 6px;
}
div.slide1 div.arrowcontainer a {
  color: black;
  text-decoration: none;
}

.navdivmain2 {
  visibility: hidden;
  z-index: 10;
  background-image: url("navbar.png");
  background-repeat: no-repeat;
  background-size: 100vw 8vh;
  height: 8vh;
  width: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}
.navdivmain2 ul {
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-top: 0;
}
.navdivmain2 ul li {
  margin-top: 0;
  font-size: calc(.2rem + 2vw);
}
.navdivmain2 ul li a {
  text-decoration: none;
  color: #F4C66B;
}
.navdivmain2 ul li:hover a {
  color: rgba(0, 0, 0, 0.0001);
}
.navdivmain2.sticky {
  visibility: visible;
  position: sticky;
  top: 0;
  z-index: 1;
}

.slide2 {
  background-color: #145e64;
}

.slide2Grid {
  height: 92vh;
  margin-top: 8vh;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.618fr 1fr;
  grid-template-areas: "natasha john" "lineup lineup";
  grid-gap: 1px 1px;
  color: white;
}

.natasha {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("Natasha.png");
  background-size: cover;
  grid-area: natasha;
  padding: 1vw;
  overflow: hidden;
}
.natasha div {
  width: 18em;
  font-size: 2.2vh;
}
.natasha div p {
  visibility: hidden;
  text-align: right;
}
.natasha div p.cardTitle {
  font-weight: 1000;
  margin-bottom: -1.3vh;
  font-size: 1.2em;
}
.natasha:hover, .natasha:focus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Natasha.png");
}
.natasha:hover p, .natasha:focus p {
  visibility: visible;
  text-align: right;
  animation: 0.3s slideIn 0s forwards;
  transform: translateX(100%);
}

.john {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("John.png");
  background-size: cover;
  grid-area: john;
  overflow: hidden;
  padding: 1vw;
}
.john div {
  width: 18em;
  font-size: 2.2vh;
}
.john div p {
  visibility: hidden;
  text-align: left;
}
.john div p.cardTitle {
  font-weight: 1000;
  margin-bottom: -1.3vh;
  font-size: 1.2em;
}
.john:hover, .john:focus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("John.png");
}
.john:hover p, .john:focus p {
  visibility: visible;
  animation: 0.3s slideIn 0s forwards;
  transform: translateX(-100%);
}

.lineup {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #1E1E1E;
  grid-area: lineup;
  color: #F4C66B;
}
.lineup span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25vw;
  transition-timing-function: ease-out;
  transition: 0.1s;
  transform: scale(1);
}
.lineup span#peter img {
  transform: scale(1.084);
}
.lineup span img {
  width: 10vw;
  height: 10vw;
  margin-bottom: 0.8vh;
}
.lineup span:hover {
  transition-timing-function: ease-out;
  transition: 0.2s;
  transform: scale(1.1);
}

.lineupCardWrap {
  z-index: 2;
  visibility: hidden;
  position: absolute;
  left: 39%;
  top: 110%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 600px;
  padding: 30px;
  background: blue;
  background: #1E1E1E;
  box-shadow: 0px 0px 19px rgba(22, 22, 22, 0.85);
  border-radius: 100px;
  color: white;
  transform: scale(0) translateY(80%);
  transition: 0.001s ease-out;
}
.lineupCardWrap .lineup-card {
  display: grid;
  grid-template-rows: 9vw 2fr;
  grid-template-columns: 9vw 1fr;
  grid-template-areas: "img head" "p p";
  height: inherit;
}
.lineupCardWrap .lineup-card span.head {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  grid-area: head;
  align-items: center;
  font-weight: bold;
}
.lineupCardWrap .lineup-card span.head p {
  margin: -5px 0;
  margin-left: 0.5vw;
}
.lineupCardWrap .lineup-card span.head p.cardTitle {
  font-size: 2.7rem;
  margin-bottom: 0em;
}
.lineupCardWrap .lineup-card span.head p.cardSubtitle {
  margin-top: -3em;
  font-size: 1.4rem;
}
.lineupCardWrap .lineup-card span.head p#jeremySubtitle {
  margin-top: -1.5em;
  font-size: 1.4rem;
}
.lineupCardWrap .lineup-card span.body {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
  padding-top: 5px;
  grid-area: p;
  font-size: 1.5rem;
  margin-bottom: 1vh;
}
.lineupCardWrap .lineup-card img {
  user-select: none;
  grid-area: img;
  width: 100%;
  height: 100%;
}
.lineupCardWrap.visible {
  visibility: visible;
  transform: scale(1) translateY(20%);
  transition: 0.02s ease-out;
  bottom: 100%;
}

.backgroundDarkener {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  left: 0%;
  top: 115.9%;
  transform: translate(-50%, -50%);
  height: 92vh;
  width: 99.33vw;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: 0.025s ease-out;
}
.backgroundDarkener.darker {
  position: absolute;
  visibility: visible;
  transform: scale(1);
  transition: 0.025s ease-out;
  bottom: 100%;
}

.slide3 {
  height: 92vh;
  background-image: url("castBackground.png");
  background-repeat: no-repeat;
  background-size: 100vw 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCast {
  background-color: #19767d;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.23);
  height: 80%;
  width: 50vw;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  color: #F4C66B;
  font-size: calc(.5rem + 2vw);
  justify-content: center;
  margin-bottom: 1px;
}
.containerCast .ss-wrapper {
  z-index: 0;
}
.containerCast img {
  height: 30%;
  width: 100%;
}
.containerCast .table {
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 0 0 30px 30px;
  align-self: flex-end;
  height: 60%;
  width: 100%;
  background-color: white;
  color: black;
}
.containerCast .table .first {
  background-color: rgba(25, 118, 125, 0.5);
}
.containerCast .table .second {
  background-color: rgba(25, 118, 125, 0.44);
}
.containerCast .table details {
  padding: 10px;
  font-size: calc(0.9rem + 1vw);
  justify-content: space-around;
}
.containerCast .table details summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerCast .table details summary div {
  display: flex;
  justify-content: flex-start;
  width: 40em;
  padding-left: 5%;
}
.containerCast .table details summary i {
  margin: auto;
}
.containerCast .table details summary img {
  max-height: 60px;
  max-width: 60px;
  margin-right: -2vw;
  margin-left: 1vw;
}
.containerCast .table details summary img.dropDownArrow {
  max-width: 35.5px;
  max-height: 40px;
  margin-right: 1vw;
}
.containerCast .table details div {
  margin: 10px 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.containerCast .table details div img {
  max-width: 280px;
  max-height: 320px;
  margin-right: 2%;
  border-radius: 30px;
}
.containerCast .table details div p {
  font-size: calc(0.9rem + .5vw);
  line-height: 1.5;
}
.containerCast .table details div p i {
  font-size: 0.9em;
}
.containerCast .table details[open] summary {
  padding-bottom: 10px;
  border-bottom: 1px dashed #19767d;
}

.slide4 {
  height: 92vh;
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: hidden;
}
.slide4 div.wrapper {
  width: 55vw;
  height: 97%;
}
.slide4 div.wrapper .containerQuotes {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 5vh;
}
.slide4 div.wrapper .containerQuotes div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.382fr 0.618fr;
  grid-template-areas: ". q";
  grid-template-rows: 1fr;
  justify-items: end;
  margin: 3vh;
  line-height: 1.4;
  font-size: calc(.5rem + 1vw);
  font-weight: bold;
  color: #19767d;
}
.slide4 div.wrapper .containerQuotes div span {
  grid-area: q;
  text-align: right;
}
.slide4 div.wrapper .containerQuotes div span i {
  font-size: calc(.5rem + 1.6vw);
}
.slide4 div.wrapper .containerQuotes div span i::before {
  content: open-quote;
}
.slide4 div.wrapper .containerQuotes div span i::after {
  content: close-quote;
}
.slide4 div.wrapper .containerQuotes div:nth-child(odd) {
  grid-template-columns: 0.618fr 0.382fr;
  grid-template-areas: "q .";
  justify-items: start;
}
.slide4 div.wrapper .containerQuotes div:nth-child(odd) span {
  text-align: left;
}

.rainbow {
  transition: 0.1s ease-in-out;
  background: linear-gradient(to bottom, #cf5476, #ecac6a, #dc6165, #926893, #eb714e);
  background-size: 200% 200%;
  animation: rainbow 1.8s ease-in infinite;
  background-clip: text;
}

a.rainbow:hover {
  color: rgba(0, 0, 0, 0.0001);
}

#downarrow {
  border: solid black 2px;
  border-radius: 50%;
}

@keyframes rainbow {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
@media (max-width: 1327px) {
  img#headimg {
    width: calc(35vw * 2 + 40px);
  }

  ul#navbar {
    flex-direction: column;
  }
  ul#navbar li {
    font-size: calc(1rem + 3vw);
  }
}
@media (max-width: 800px) {
  ul#navbar li {
    font-size: calc(1.7rem + 4vw);
  }

  .lineup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "jeremy jeremy" "samuel charles" "patricia dae" "peter min";
    background-color: #1E1E1E;
    align-items: center;
    color: #F4C66B;
    overflow: scroll;
  }
  .lineup span.jeremy {
    grid-area: jeremy;
  }
  .lineup span.samuel {
    grid-area: samuel;
  }
  .lineup span.charles {
    grid-area: charles;
  }
  .lineup span.patricia {
    grid-area: patricia;
  }
  .lineup span.dae {
    grid-area: dae;
  }
  .lineup span.peter {
    grid-area: peter;
  }
  .lineup span.min {
    grid-area: min;
  }
  .lineup span {
    font-size: 1.8vw;
  }
  .lineup img {
    margin-top: 2vh;
    width: 20vw;
    height: 20vw;
    margin-bottom: 0.8vh;
  }
}

/*# sourceMappingURL=style.css.map */
